body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fae6e1;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 20px;
    margin: 0;
    max-height: calc(100vh - 100px);

}

header {
    background-color: transparent;
    text-align: center;
}

nav {
    background-color: transparent;
    color: black;
    font-weight: bold;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-top: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    margin-top: 120px;
    font-weight: bold;
    overflow-y: auto;
    max-height: calc(300vh - 240px); 
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border-top: 1px solid #c09f80;
    font-size: 0.8em;
}


